md-card
	md-card-content(layout="row")
		md-icon search
		md-autocomplete(
		flex
		md-selected-item="ctrl.selectedServicio" 
		md-search-text-change="ctrl.BuscarServicioChange(ctrl.searchTextServicio)" 
		md-search-text="ctrl.searchTextServicio" 
		md-selected-item-change="ctrl.ServicioSeleccionadoChange(item)" 
		md-items="item in servicios" 
		md-item-text="item.nombre" 
		md-min-length="0" 
		placeholder="Nombre del Servicio" 
		md-menu-class="autocomplete-custom-template")
			md-item-template
				span {{item.nombre}}
		md-button.md-raised(md-colors="{background: 'green'}" ng-click="ctrl.servicios.nuevo()")
			md-icon add
	md-divider
	md-list
		md-list-item(ng-repeat="servicio in ctrl.servicios.items | filter : ctrl.searchTextServicio")
			.md-list-item-text
				strong {{servicio.nombre}}
			md-fab-toolbar(md-open="false" count="0"  md-direction="left" flex)
				md-fab-trigger
					md-button
						md-icon more_vert
				md-toolbar
					md-fab-actions(layout="row")
						md-button(md-colors="{background: 'green'}" ui-sref="servicio({id:servicio.id})")
							md-icon edit
						md-button(md-colors="{background: 'red'}" ng-click="servicio.eliminar($index)")
							md-icon delete
			md-divider
		cl-paging(cl-pages="ctrl.servicios.paginas" cl-steps="4" cl-page-changed="ctrl.servicios.cambioPagina()" cl-align="start start" cl-current-page="ctrl.servicios.pagina")